---
import HomeLayout from "../layouts/HomeLayout/HomeLayout.astro";
---

<HomeLayout>
	<section class="bg-black bg-checkered bg-cover" id="home">
		<div class="min-h-svh pb-10 sm:px-4 lg:pl-40">
			<div class="min-h-[12rem]"></div>
			<p class="text-center text-6xl text-white text-shadow">Hello World!</p>
		</div>
	</section>
</HomeLayout>
