---
import { getCollection } from "astro:content";
import HomeLayout from "../layouts/HomeLayout/HomeLayout.astro";

const blogCollection = await getCollection("blog");
---

<HomeLayout>
	<section class="bg-black bg-checkered bg-cover" id="home">
		<div class="min-h-svh pb-10 sm:px-4 lg:pl-40">
			<div class="min-h-[12rem]"></div>
			<h1 class="text-6xl text-white text-shadow">Hello World!</h1>
			<p class="text-3xl text-white">List of all blog posts:</p>
			<ul>
				{
					blogCollection.map((post) => (
						<li>
							<a href={`/blog/${post.slug}`}> {post.data.title}</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</HomeLayout>
